footer {
    position: relative;
}

.footerbg-top {
    background: url("../assets/footerbg-top.svg") no-repeat center top;
    width: 100%;
    height: fit-content;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 20%;
    position: relative;
}

.footerbg-bottom {
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: 100%;
}

.footer-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.footer-h2 img {
    width: 150px;
}

.footer-h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    word-break: keep-all;
    overflow-wrap: break-word;
}

.footer-h3 span {
    color: var(--primary-color);
    margin-left: 8px;
}

ul.footer-ul {
    margin-top: 20px !important;
    border-left: 3px dashed var(--secondary-color);
    padding-left: 30px;
    margin-bottom: 35px;
}

ul.footer-ul li a {
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
}

ul.footer-ul li a:hover {
    border-bottom: 1px solid var(--primary-color);
    color: #1e1e1e8a;
}

p.alcohol-alert {
    margin: 50px auto 150px auto;
    line-height: 1.5rem;
    width: 90%;
    max-width: 650px;
    height: fit-content;
    padding: 20px 30px;
    gap: 10px;
    border-radius: 20px;
    background: var(--background-color);
    font-size: 14px;
}

small.copyright {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #727272;
    font-family: var(--EN-text-font);
}

.back-to-top-btn svg {
    width: 30px;
    height: 30px;
}

.back-to-top-btn {
    font-family: var(--EN-text-font);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    scroll-behavior: smooth;
}

.back-to-top-btn:hover svg {
    animation: toTopBtn-up .8s infinite;
}

@keyframes toTopBtn-up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .footer-nav {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
    }

    .back-to-top-btn svg {
        width: 40px;
        height: 40px;
    }

    .back-to-top-btn {
        font-size: 20px;
        top: 0;
        right: 30px;
    }
}