.jitan-kv {
    background: url("../assets/mom-daughter.jpg") no-repeat 90% center;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.jitan-kv h1 {
    font-family: var(--heading-font);
    color: white;
    background: url("../assets/title-bg.png") no-repeat center center;
    background-size: 100%;
    max-height: 200px;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    position: absolute;
    bottom: -100px;
    padding: 0 55px 0 55px;
}

.jitan-kv p {
    display: none;
}

.site-route {
    margin-top: 120px;
}

.site-route ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    flex-wrap: wrap;
}

.site-route ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-route ul li img.forward-icon {
    width: 70%;
}

.site-route ul li:first-child {
    position: relative;
}

.site-route ul li:first-child span {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;
}

.site-route ul li:first-child span {
    width: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.site-route ul li:first-child:hover span {
    width: 100%;
    opacity: 1;
}

.site-route ul li:last-child {
    color: var(--primary-color);
    gap: 5px;
}

.intro-text {
    position: relative;
    z-index: -2;
    background: url("../assets/mom-happy-bg.svg") no-repeat center center;
    background-size: auto;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-text-content img {
    display: none;
}

.intro-text h2 {
    font-family: var(--heading-font);
}

.intro-text h2 .intro-h2-1 {
    position: relative;
}

.intro-text h2 .intro-h2-2 {
    position: relative;
}

/* dressing line */
.intro-text h2 .dressing-line1 {
    content: "";
    display: inline-block;
    width: 100%;
    height: 8px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: -1;
}

.intro-text h2 .dressing-line2 {
    content: "";
    display: inline-block;
    width: 100%;
    height: 8px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: -1;
}

.intro-text p {
    word-break: keep-all;
    overflow-wrap: break-word;
    line-height: 36px;
    width: 250px;
    margin-top: 20px;
}

.gradient-bg {
    position: relative;
    width: 100%;
    height: auto;
}

.gradient-bg .gradient-bg-yellow {
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: -50px;
    z-index: -5;
    background: url(../assets/top-kv-intro.png) no-repeat center right;
    background-size: cover;
}

.gradient-bg .gradient-bg-orange {
    width: 40vw;
    height: 80vh;
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: -6;
    background: url(../assets/orange-gradient.png) no-repeat top left;
    background-size: cover;
}

.ranking {
    word-break: keep-all;
    overflow-wrap: break-word;
    border-radius: max(157px, 30vw) 0;
    background: #FFF;
    height: fit-content;
    padding: 100px 30px;
    line-height: 1.8;
    position: relative;
    margin-top: 80px;
}

.ranking::after {
    border-radius: max(157px, 30vw) 0;
    border: 3px dashed #E96600;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    pointer-events: none;
}

.ranking h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.ranking h3 {
    margin: 60px auto;
    width: fit-content;
    text-align: center;
}

.ranking p {
    margin-top: 30px;
    line-height: 36px;
    width: fit-content;
    margin: 0 auto;
}

.recipe-cards-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.seeMoreBtn {
    margin-top: 30px;
    max-width: 350px;
    margin-bottom: 100px;
}

.employee-recipe {
    position: relative;
}

.employee-recipe .employee-recipe-bgs {
    position: absolute;
    width: 100%;
    height: 20%;
    top: -50px;
    left: 0;
    z-index: -1;
    background: url("../assets/employee.bg.svg") no-repeat top center;
    background-size: 100% 100%;
}

.employee-recipe .employee-recipe-bgs-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0;
    z-index: -1;
    background: url("../assets/employee.bg-2.svg") no-repeat bottom center;
    background-size: 100%;
}

.employee-recipe h2 {
    margin-bottom: 15px;
    font-family: var(--heading-font);
    text-align: center;
    color: var(--primary-color);
}

.employee-recipe .employee-recipe-intro-text p {
    line-height: 2;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
}

@media (min-width: 386px) {
    .jitan-kv h1 {
        padding: 0 55px 0 80px;
        max-height: 250px;
    }
}

@media (min-width: 600px) {
    .intro-text-content img {
        position: absolute;
        z-index: -1;
        display: block;
    }

    .intro-text-content img.side-img1 {
        width: 180px;
        height: 180px;
        bottom: -180px;
        left: -120px;
        animation: sideImgAnimate 1s infinite;
    }

    .intro-text-content img.side-img2 {
        width: 250px;
        height: 250px;
        top: -150px;
        right: -120px;
        animation: sideImgAnimate 1.3s infinite;
    }

    @keyframes sideImgAnimate {
        0% {
            transform: rotate(3deg);
        }
        50% {
            transform: rotate(-3deg);
        }
        100% {
            transform: rotate(3deg);
        }
    }

    .intro-text-content {
        position: relative;
    }

    .intro-text {
        background-image: url("../assets/mom-happy-bg-tablet.svg");
        background-size: 100%;
        margin: 0 auto;
        height: 550px;
    }

    .intro-text-content {
        width: 60%;
    }

    .intro-text h2 {
        width: fit-content;
    }

    .intro-text p {
        width: max(400px, 60%);
    }
}

@media (min-width: 768px) {
    .intro-text-content img.side-img1 {
        width: 200px;
        height: 200px;
        bottom: -200px;
        left: -120px;
    }

    .intro-text-content img.side-img2 {
        width: 250px;
        height: 250px;
        top: -150px;
        right: -120px;
    }


    .intro-text {
        background-image: url("../assets/mom-happy-bg-tablet.svg");
        background-size: max(100%, 500px) 550px;
        margin: 0 auto;
        height: 550px;
    }

    .intro-text-content {
        width: min(500px, 100%);
    }

    .intro-text p {
        width: min(500px, 100%);
    }

    .jitan-kv h1 {
        padding: 0 55px 0 80px;
        max-height: 300px;
    }

    .recipe-cards-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .employee-recipe .employee-recipe-bgs {
        height: 30%;
    }
}

@media (min-width: 992px) {
    .secTitle-container {
        position: absolute;
        bottom: -180px;
        right: 30px;
        width: 350px;
        height: 300px;
        background: url("../assets/sub-title-bg.svg") no-repeat center center;
    }

    .jitan-kv p {
        display: block;
        font-weight: bold;
    }

    .jitan-kv p.line1 {
        margin-top: 110px;
        margin-left: 50px;
    }

    .jitan-kv p.line2 {
        margin-top: 20px;
        margin-left: 130px;
    }

    .intro-text {
        margin-top: 100px;
    }

    .intro-text-content img.side-img1 {
        width: 230px;
        height: 230px;
        bottom: -230px;
        left: -200px;
    }

    .intro-text-content img.side-img2 {
        width: 250px;
        height: 250px;
        top: -150px;
        right: -120px;
    }

    .jitan-recipe-page {
        margin-top: -150px;
    }

    .jitan-kv {
        height: 100vh;
        margin-bottom: 100px;
    }
}

@media (min-width: 1128px) {
    .secTitle-container {
        right: 10%;
        top: 300px;
    }

    .intro-text-content img.side-img1 {
        width: 250px;
        height: 250px;
        bottom: -180px;
        left: -300px;
    }

    .intro-text-content img.side-img2 {
        width: 300px;
        height: 300px;
        top: -200px;
        right: -250px;
    }

    .recipe-cards-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .employee-recipe .employee-recipe-bgs {
        height: 50%;
    }
}