.kv {
    background: url("../assets/submit-bg.svg") repeat top center;
    background-size: 50%;
    position: relative;
    z-index: -3;
    padding-top: 30px;
    padding-bottom: 30px;
}

.kv::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(30px);
    background-color: transparent;
}

.kv h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    line-height: 46px;
}

.kv h2 {
    font-family: var(--heading-font);
    font-weight: 600;
    width: fit-content;
    word-break: keep-all;
    overflow-wrap: break-word;
    margin: 50px 0;
    text-align: center;
}

.kv .kv-img {
    width: 95vw;
    /* max-width: 450px; */
    height: 276px;
    border-radius: 250px 0 0 250px;
    background: url('../assets/family_eating.jpg') no-repeat 30% center;
    background-size: cover;
    margin-left: auto;
    margin-right: 0;
    margin-top: 30px;
}

.kv-pc-img {
    display: none;
}

.dressing-text {
    position: relative;
}

.dressing-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -1;
    background-color: var(--secondary-color);
}

.kv .kv-intro-text p {
    word-break: keep-all;
    overflow-wrap: break-word;
    line-height: 1.8;
    margin-bottom: 30px;
}

/* section 2 */
.title-tag {
    border-radius: 50px;
    background: var(--secondary-color);
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 8px;
}

.submitRecipe h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px dashed var(--primary-color);
    padding: 20px 0;
    max-width: 450px;
}

.recipeCard-group {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.seeMoreBtn {
    margin-top: 30px;
    width: 100%;
    max-width: 450px;
}

.submit-form-intro {
    word-break: keep-all;
    overflow-wrap: break-word;
    background: url("../assets/top-kv-intro.png") no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    min-height: 400px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.submit-form-intro h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.submit-form-intro p {
    text-align: center;
    line-height: 2.3;
    margin-top: 50px;
}

img.soysauce-drip-img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 50px auto 0 auto;
}

.form-submit-img {
    width: 100%;
    height: 40vw;
    background: url("../assets/submit-form-intro-img.png") no-repeat center center;
    background-size: cover;
    margin-top: 50px;
}

.rule-guide {
    max-width: 800px;
    margin: 0 auto;
    word-break: keep-all;
    overflow-wrap: break-word;
    background: url("../assets/orange-gradient.png") no-repeat center center;
    background-size: 180%;
    max-height: fit-content;
}

.rule-guide h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-top: 80px;
}

.rule-guide .title-intro {
    text-align: center;
    margin-top: 30px;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.rule-guide h3 {
    position: relative;
    width: fit-content;
    margin: 80px auto 0 auto;
    font-family: var(--heading-font);
}

.rule-guide h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: var(--secondary-color);
    margin: 10px auto 0 auto;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

.rule-guide li {
    line-height: 1.8;
}

.rule-guide .rule-list {
    margin-top: 15px;
    list-style-type: decimal;
    list-style-position: inside;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.rule-guide ul {
    margin-top: 20px;
}

.rule-guide .support {
    margin-top: 15px;
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
}

.rule-guide .rule {
    text-align: center;
    margin-top: 30px;
}

@media (min-width: 500px) {
    .rule-guide {
        max-width: 800px;
        background-size: 130%;
        max-height: fit-content;
    }
}

@media (min-width: 680px) {
    .rule-guide {
        max-width: 800px;
        background-size: 100%;
        max-height: fit-content;
    }
}

@media (min-width: 768px) {
    .recipeCard-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .kv-sp-img {
        display: none;
    }

    .kv-pc-img {
        display: flex;
        position: relative;
        right: 0;
    }

    .kv .kv-img {
        width: 100%;
        min-width: 400px;
        max-width: none;
        height: auto;
        max-height: 400px;
        border-radius: 250px;
    }

    .kv-intro-group {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1128px) {
    .recipeCard-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}