.imgGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
  max-width: 600px;
}

img.product-img {
  width: 50px;
  height: auto;
  animation: img-animate 1s ease-in-out infinite;
}

img.product-img:nth-child(1) {
  animation-delay: 1s;
}
img.product-img:nth-child(2) {
  animation-delay: 0.5s;
}
img.product-img:nth-child(3) {
  animation-delay: 0.2s;
}


@keyframes img-animate {
  0% {
    transform: rotate(5deg)
  }
  50% {
    transform: rotate(-5deg)
  }
  100% {
    transform: rotate(5deg)
  }
}

img.soysauce-img {
  width: 30px;
}

@media (min-width: 768px) {
  .imgGroup {
    justify-content: space-around;
    gap: none;
    max-width: 800px;
  }
}