.recipe-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.recipe {
    position: relative;
}

.gradient-1 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(circle, rgba(255, 167, 100, 0.312) 0%, rgba(255, 168, 100, 0) 70%);
    top: 100px;
    right: 0px;
    z-index: -1;
}

.gradient-2 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(circle, #f7b50034 0%, #f7b50000 70%);
    bottom: 50px;
    right: 0;
    z-index: -1;
}


.recipe-container h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 35px;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.recipe-container .dish-img,
.recipe-container .family-img {
    width: 100%;
    height: 300px;
    background: url() no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    max-width: 720px;
}

.recipe-container .product-img {
    width: 100%;
    height: 300px;
    background: url() no-repeat center center;
    background-color: #fff;
    background-size: contain;
    border-radius: 20px;
    margin-bottom: 80px;
}

.recipe-container h2.content {
    font-family: var(--heading-font);
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: normal;
}

.recipe-container .time {
    border-radius: 30px;
    background: var(--primary-color);
    display: inline-flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}

.recipe-container h3 {
    font-family: var(--heading-font);
    margin-bottom: 20px;
}

.recipe-container ul,
.recipe-container ol {
    border-radius: 20px;
    background: #fff;
    display: flex;
    width: 100%;
    padding: 25px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
}

.recipe-container ul li,
.recipe-container ol li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    align-items: center;
    gap: 20px;
    border-bottom: 1px dashed #FFA864;
    line-height: 1.8;
}

.recipe-container ul li:last-child,
.recipe-container ol li:last-child {
    border-bottom: none;
}

p.kikkoman-product {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-weight: bold;
}

h3.step-title,
h3.familyMemory-title {
    border-bottom: 2px dashed #E96600;
    display: inline-flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: var(--primary-color);
    margin-top: 50px;
    margin-bottom: 50px;
}

.family-memory {
    font-family: var(--heading-font);
    line-height: 1.8;
    word-break: normal;
    overflow-wrap: normal;
    text-align: justify;
    margin-top: 30px;
    max-width: 720px;
}

.vote-section {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

@media (min-width: 768px) {

    .recipe-container h1,
    .recipe-container h2.content {
        text-align: center;
    }

    .dish-img {
        margin: 0 auto;
    }

    .ingredients-product-group,
    .family-memory-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .ingredients ul {
        margin: 0;
    }

    .ingredients-product-group {
        width: 100%;
        height: fit-content;
    }

    .ingredients-product-group .product-img {
        margin: 0;
    }

    .family-img {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .family-memory-section {
        gap: 40px;
    }

    .family-memory-section p {
        align-self: center;
        line-height: 2.3;
        text-align: justify;
    }

    .family-memory {
        margin: 0;
    }

}

@media (min-width: 992px) {
    .recipe-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .gradient-1 {
        left: -300px;
    }

    .pc-layout {
        display: grid;
        grid-template-columns: 500px auto;
        gap: 30px;
    }

    .recipe-container h1,
    .recipe-container h2.content {
        text-align: left;
        word-break: normal;
        overflow-wrap: break-word;
    }

    .recipe-container h2.content {
        margin-top: 0;
    }

    .ingredients-product-group {
        width: 100%;
        margin-top: 50px;
        gap: 80px;
    }
}