.recipe-card {
    background-color: white;
    width: 100%;
    max-width: 350px;
    min-width: 280px;
    height: 480px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    padding-bottom: 20px;
}

.recipe-card-top {
    background-size: 180%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 55%;
    border-radius: 20px 20px 0 0;
    transition: all 0.5s ease;
    position: relative;
}

.recipe-card:hover .recipe-card-top {
    background-size: 190%;
    opacity: 0.8;
}

.recipe-card-body {
    padding: 26px 19px;
}

.recipe-card-body h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 15px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.recipe-card-body p {
    line-height: 1.8;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.first-card {
    border: 3px solid var(--primary-color);
}

@media (min-width: 768px) {
    .recipe-card-top {
        background-size: 160%;
    }

    .recipe-card:hover .recipe-card-top {
        background-size: 170%;
    }

    .recipe-card:hover .recipe-tag {
        background-color: var(--secondary-color);
    }

    .recipe-card:hover svg {
        animation: hoverArrowMove 0.8s infinite;
    }
}

@keyframes hoverArrowMove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.recipe-tag {
    display: inline-flex;
    color: white;
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

@media (min-width: 992px) {
    .recipe-card-top {
        background-size: 160%;
    }

    .recipe-card:hover .recipe-card-top {
        background-size: 170%;
    }
}