.vote-section {
    border-radius: 20px;
    background: #FFF;
    display: flex;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

.vote-section h3 {
    padding: 20px 0;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    border-bottom: 2px dashed var(--primary-color);
    width: 100%;
    margin-bottom: 20px;
}

.vote-section button {
    width: 100%;
    max-width: 300px;
    height: 55px;
    padding: 12px 0;
    border-radius: 30px;
    background-color: var(--primary-color);
    font-size: 16px;
    color: #fff;
    border: 2px solid var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.vote-section button.voted {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: all 0.5s ease;
}

.vote-section p.thanks-msg {
    margin-top: 5px;
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: bold;
    transition: all 0.5s ease;
    opacity: 0;
}

.vote-section p.thanks-msg.visible {
    opacity: 1;
}

p.alert-msg {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 8px;
}